<nav class="navigation" role="navigation">
	<ul>
		{% for link in linklists.main-menu.links %}
		
    {% capture child_list_handle %}{{ link.title | handle }}{% endcapture %}
		
		<li {% if linklists[child_list_handle].title == "" %} class="no-children"{% endif %}>
			{{ link.title | link_to: link.url }}
      {% if link.title == "By Brand" %}
  	    <ul class="main-nav-child">
          {% for l in linklists.by-brand.links %}
             <li><a href="{{l.url}}">{{l.title}}</a></li>
         {% endfor %}
       </ul>
       {% endif %}
     
	    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
	    <ul class="main-nav-child">
	      {% for l in linklists[child_list_handle].links %}
	      <li><a href="{{ l.url }}">{{ l.title }}</a></li>
	      {% endfor %}
	    </ul>
	    {% endif %}
		</li>
		{% endfor %}
	</ul>
  
  
  
  {% comment %}
  <!--  
  <nav class="nav-main clearfix" role="navigation">
	<ul class="clearfix">
	    {% for link in linklists.main-menu.links %}
		<li class="clearfix{% if link.object.tags and link.object.tags.size > 0 %} children{% endif %}">
			<a href="{{link.url}}">{{link.title}}</a>
			
			{% if link.object.tags and link.object.tags.size > 0 %}
			<ul>
					{% for tag in link.object.tags %}
						{% capture tag_link %}{{ link.url }}/{{ tag | handle }}{% endcapture %}
						<li>{{ tag | link_to: tag_link }}</li>
					{% endfor %}
			
			</ul>
			    {% endif %}
		</li>
		{% endfor %}
		<li class="clearfix children">
		    <a href="#">By Brand</a>
		    <ul>
		        {% for link in linklists.by-brand.links %}
               <li><a href="{{link.url}}">{{link.title}}</a></li>
           {% endfor %}
		    </ul>
		</li>
	</ul>
</nav>

      <nav class="nav-main-small clearfix">
          <label for="nav-small">Navigation </label>
          <select id="nav-small">
              <option value="" disabled selected>Navigation&hellip;</option>
              {% for link in linklists.main-menu.links %}
                  {% if link.object.tags and link.object.tags.size > 0 %}
                      <optgroup label="{{link.title}}">
                      {% for tag in link.object.tags %}
						{% capture tag_link %}{{ link.url }}/{{ tag | handle }}{% endcapture %}
						<option label="{{tag}}">{{tag_link}}</option>
					{% endfor %}
					<option label="All {{link.title}}">{{link.url}}</option>
					</optgroup>
                  {% else %}
                      <option label="{{link.title}}">{{link.url}}</option>
                  {% endif %}
              {% endfor %}
              <optgroup label="By Brand">
                  {% for link in linklists.by-brand.links %}
                    <option label="{{link.title}}">{{link.url}}</option>
                  {% endfor %}
              </optgroup>
          </select>
          
		<form class="form-search-small" id="search" action="/search" accept-charset="utf-8">
			<input type="search" id="search_text" name="q" placeholder="Search..." value="{{ search.terms }}">
			<input id="search_submit" type="submit" border="0" value="Go" style="display: none;" alt="Submit Search"/>
		</form>
      </nav>-->
    {% endcomment %}