{% include 'slider' %}

<p class="home-callout clearfix">{{ settings.home-message }}</p>

<section class="featured">
    <div class="image-wrapper">
        <img src="{{linklists.featured-product.links.first.object.featured_image | product_img_url: 'large'}}" alt="" />
    </div>
    <div class="featured-content">
        <h1>{{settings.featured-heading}}</h1>
        <p>{{settings.featured-text}}</p>
        <a href="{{ linklists.featured-product.links.first.url}}" class="cta">View Now</a>
    </div>
</section>

<aside class="social clearfix social-home">
    <ul class="clearfix">
        <li class="clearfix social-fb"><a href="https://www.facebook.com/LeLoupShop" target="_new">Facebook</a></li>
        <li class="clearfix social-tw"><a href="https://twitter.com/leloupshop" target="_new">Twitter</a></li>
        <li class="clearfix social-pt"><a href="http://pinterest.com/leloupshop/" target="_new">Pinterest</a></li>
    </ul>
</aside>

{% include 'best-sellers' %}
